@* Contextmenu.razor *@

<div id="context-menu" style="display:none;">
    <div class="item">
        <i class="fa fa-cut"></i> Insert
    </div>
    <div class="item">
        <i class="fa fa-clone"></i> Delete
    </div>
    <div class="item">
        <i class="fa fa-paste"></i> Print
    </div>
    <hr>
    <div class="item">
        <i class="fa fa-print"></i> Print All
    </div>
</div>

<style>
    #context-menu {
        position: absolute;
        z-index: 1000;
        width: 150px;
        background: gray;
    }
    #context-menu .item {
        padding: 8px 10px;
        font-size: 15px;
        color: #eee;
        cursor: pointer;
    }
    #context-menu .item:hover {
        background: #555;
    }
    #context-menu .item i {
        display: inline-block;
        margin-right: 5px;
    }
</style>

<script>
export function showMenu(top, left) {
    const menu = document.getElementById("context-menu");
    if (menu) {
        menu.style.display = "block";
        menu.style.top = `${top}px`;
        menu.style.left = `${left}px`;
    }
}

document.addEventListener("click", function () {
    const menu = document.getElementById("context-menu");
    if (menu) {
        menu.style.display = "none";
    }
});
</script>
