<div class="w-full rounded-lg h-[76px] mt-[10px]  bg-[#EDF2F1] flex justify-between items-center">
    
    <div class="w-[231px] h-[46px] ml-[16px] flex-shrink-0">
         <h1 class=" text-[#32947C] text-[20px] h-[23px] font-neo-sans font-medium align-baseline">
            Healthcare App
            </h1>


        <div class="mt-[7px] flex items-center w-[231px] gap-[4px] h-[16px]" >
            <div class="bg-[#32947C] gap-10 rounded-sm w-[16px] h-[16px]">
                <svg class="w-[16px] h-[16px] rotate-[18.83] fill-current text-white ">
                    <path d="M9.83821 4.41593C8.80303 3.90803 7.55706 3.83646 6.39576 4.36984C4.71691 5.13781 3.76714 7.0357 4.16511 8.8384C4.68717 11.222 7.12359 12.5514 9.36429 11.7872C10.8755 11.2719 11.8717 9.9444 12.044 8.46483C12.0875 8.09612 11.7358 7.80935 11.3853 7.9289C11.21 7.98867 11.0765 8.13985 11.0539 8.32184C10.9107 9.65415 9.87546 10.8206 8.36675 10.9865C7.23602 11.1134 6.096 10.5461 5.51513 9.57168C4.49112 7.87157 5.3335 5.76734 7.10522 5.16312C7.89159 4.89493 8.70404 4.9823 9.39154 5.32356L8.91988 6.28196C8.7231 6.68183 9.1058 7.12175 9.52741 6.97796L11.2281 6.39797C11.4886 6.30912 11.6292 6.0235 11.5404 5.76327L10.9611 4.06466C10.8175 3.64355 10.2333 3.60512 10.0365 4.00498L9.83821 4.41593Z" fill="currentColor"/>
                </svg>
            </div>
            
            <div>
                <p class="text-[#158DE0] text-[10px] font-neo-sans h-13 items-end leading-[15px]">Vaccinationskort hentet: 12.06.2024 kl. 14:55</p>
            </div>
        </div>
    </div> 

        <div class="flex-shrink-0">
            <GraphToggle />
        </div>
</div>

