@page "/"

<div class="bg-[#FFFFF] w-full h-full border border-[#EDEDED] rounded-lg ml-[21px]"
     @oncontextmenu:preventDefault="true"
>
    <Header OnToggleChanged="HandleToggleChange" />

    @if (isGridActive)
    {
        <Oversigt />
    }
    else
    {
        <Graphs />
    }
</div>

@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; }  
    private bool isGridActive = true;

    private void HandleToggleChange(bool isGridActive)
    {
        this.isGridActive = isGridActive;
        StateHasChanged();
    }
}
