@page "/"

<div class="bg-[#FFFFF] w-full h-full border border-[#EDEDED] rounded-lg ml-[21px]">

    <Header/>

<div class="flex justify-between w-full mt-[27px] mb-[24px] ">

<h2 class="font-neo-sans font-medium text-[16px] text-[#606060] leading-[19.2px] ml-[32px] ">Child Journal Module</h2>

<NewFormButton />
</div>

<div class=" w-full ml-[32px]">
<DataGrid/>
</div>

<div class="flex justify-between mt-[27px] mb-[24px] w-full">

<h2 class="font-neo-sans font-medium ml-[32px] text-[16px] text-[#606060] leading-[19.2px] ">Planlagte vaccinationer</h2>

<NewFormButton />
</div>

<div class=" w-full ml-[32px]">
<DataGrid/>
</div>

</div>