@page "/"
@inject NavigationManager navigation
<div class="px-6 py-4 bg-blue-500 rounded-t-lg hover:bg-pink-500">
    <h1 class="text-xl font-bold text-red-600">First Header Text</h1>
</div>

<div class="px-6 py-4 mt-4 bg-green-500 rounded-t-lg hover:bg-pink-500">
    <h1 class="text-xl font-bold text-red-600">Second Header Text</h1>
</div>

<button  @onclick="Form"> NY form</button>
<DatePicker></DatePicker>

@code {
    private void Form()
    {
        navigation.NavigateTo("/nyform");
    }
}