@page "/"

<div class="bg-blue-500 py-4 px-6 rounded-t-lg hover:bg-pink-500">
    <h1 class="text-red-600 text-xl font-bold">First Header Text</h1>
</div>

<div class="bg-green-500 py-4 px-6 rounded-t-lg hover:bg-pink-500 mt-4">
    <h1 class="text-red-600 text-xl font-bold">Second Header Text</h1>
</div>
