@page "/"

<div class="bg-[#FFFFF] w-full h-full border border-[#EDEDED] rounded-lg ml-[21px]">

<Header OnToggleChanged="HandleToggleChange" />

    @if (isGridActive)
    {
        <Oversigt />
    }
    else
    {
        <Graphs />
    }
</div>

@code {
    private bool isGridActive = true;

    private void HandleToggleChange(bool isGridActive)
    {
        this.isGridActive = isGridActive;
        StateHasChanged();
    }
}