@page "/nyform"
@using MudBlazor
@inject IJSRuntime JSRuntime
@using System.Globalization
@using BlazorMockup.DataWarehouse
@inject IDataStore _dataStore

<div class="flex justify-center">
        <div class="w-[466px] h-fit p-[24px] bg-[#FAFAFA]">

            <div class="flex justify-between pb-[16px]">
                <svg width="39" height="39" viewBox="0 0 39 39" fill="none">
                    <circle cx="19.5" cy="19.5" r="19.5" fill="#F4F4F4"/>
                    <circle cx="19.4989" cy="19.4987" r="15.1667" fill="#5B5B5B" fill-opacity="0.1"/>
                    <path d="M18.0555 17.5C17.4809 17.5 16.9298 17.7371 16.5235 18.159C16.1172 18.581 15.8889 19.1533 15.8889 19.75C15.8889 20.3467 16.1172 20.919 16.5235 21.341C16.9298 21.763 17.4809 22 18.0555 22H20.9444C21.5191 22 22.0702 21.763 22.4765 21.341C22.8828 20.919 23.1111 20.3467 23.1111 19.75C23.1111 19.1533 22.8828 18.581 22.4765 18.159C22.0702 17.7371 21.5191 17.5 20.9444 17.5H18.0555ZM21.6667 19.75C21.6667 19.9489 21.5906 20.1397 21.4551 20.2803C21.3197 20.421 21.136 20.5 20.9444 20.5H18.0555C17.864 20.5 17.6803 20.421 17.5449 20.2803C17.4094 20.1397 17.3333 19.9489 17.3333 19.75C17.3333 19.5511 17.4094 19.3603 17.5449 19.2197C17.6803 19.079 17.864 19 18.0555 19H20.9444C21.136 19 21.3197 19.079 21.4551 19.2197C21.5906 19.3603 21.6667 19.5511 21.6667 19.75ZM23.1111 24.25C23.1111 24.4489 23.035 24.6397 22.8996 24.7803C22.7641 24.921 22.5804 25 22.3889 25H16.6111C16.4196 25 16.2359 24.921 16.1004 24.7803C15.965 24.6397 15.8889 24.4489 15.8889 24.25C15.8889 24.0511 15.965 23.8603 16.1004 23.7197C16.2359 23.579 16.4196 23.5 16.6111 23.5H22.3889C22.5804 23.5 22.7641 23.579 22.8996 23.7197C23.035 23.8603 23.1111 24.0511 23.1111 24.25ZM24.9427 12.3408L23.7452 11.0988C23.4107 10.7494 23.0129 10.4725 22.5746 10.2839C22.1364 10.0953 21.6665 9.9988 21.1922 10H16.6111C15.6537 10.0012 14.7359 10.3967 14.0589 11.0997C13.382 11.8027 13.0011 12.7558 13 13.75V24.25C13.0011 25.2442 13.382 26.1973 14.0589 26.9003C14.7359 27.6033 15.6537 27.9988 16.6111 28H22.3889C23.3463 27.9988 24.2641 27.6033 24.9411 26.9003C25.618 26.1973 25.9988 25.2442 26 24.25V14.9928C26.0013 14.5001 25.9086 14.012 25.7271 13.5568C25.5456 13.1016 25.279 12.6883 24.9427 12.3408ZM23.9214 13.4013C24.0231 13.5081 24.1145 13.6249 24.1944 13.75H22.3889V11.875C22.5096 11.9572 22.6219 12.0519 22.724 12.1578L23.9214 13.4013ZM24.5555 24.25C24.5555 24.8467 24.3273 25.419 23.9209 25.841C23.5146 26.2629 22.9635 26.5 22.3889 26.5H16.6111C16.0365 26.5 15.4854 26.2629 15.079 25.841C14.6727 25.419 14.4444 24.8467 14.4444 24.25V13.75C14.4444 13.1533 14.6727 12.581 15.079 12.159C15.4854 11.7371 16.0365 11.5 16.6111 11.5H20.9444V13.75C20.9444 14.1478 21.0966 14.5294 21.3675 14.8107C21.6384 15.092 22.0058 15.25 22.3889 15.25H24.5555V24.25Z" fill="#5F6368"/>
                </svg>

                <button class="flex items-center justify-center mt-[10px] w-7 h-7" @onclick="HandleClose">
                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="14.5" cy="14.5" r="14.5" fill="#E3E3E3"/>
                        <path d="M19.8177 9.86035L10.6099 18.956M10.6099 9.86035L19.8177 18.956" stroke="#505050" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>

            <div>
                <h2 class="text-[#384853] text-[20px] font-medium">NY Form</h2>
                <p class="text-[#848484] text-[10px] pt-[6px] pb-[24px] font-normal">Create new Vaccination for the module.</p>
            </div>


        <form @onsubmit="SaveExamination">
                <div class="flex pb-[24px]">
                    <div class="w-1/2 mr-[36px]">
                        <label class="block text-[13px] text-[#384853] pb-[10px] font-normal">Dato</label>
                        <div class="relative">
                        <input type="date" id="DateInput" @ref="DateInput"  class="w-full h-[32px] text-[14px] px-4 py-2 border rounded-[4px] focus:outline-none focus:border-[#D6DCDE]" />
                        </div>
                    </div>
                    <div class="w-1/2 ">
                        <label class="block text-[13px] text-[#384853] pb-[10px] font-normal">Examination Type</label>
                        <div class="relative inline-block w-full">
                            <div @onclick="ToggleDropdown" class="w-full h-[32px] text-[14px] px-4 border rounded-[4px] focus:outline-none focus:border-    [#D6DCDE] bg-white flex items-center justify-between cursor-pointer">
                                <span>@SelectedValue</span>
                                <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20">
                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </div>
                                    @if (IsOpen)
                                    {
                                        <div class="absolute z-10 w-full mt-1 bg-white rounded-md shadow-lg">
                                            @foreach (var examinationType in ExaminationTypes)
                                            {
                                                <div @onclick="() => SelectItem(examinationType)" class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">
                                                    @examinationType
                                                </div>
                                            }
                                        </div>
                                    }
                        </div>
                    </div>
                </div>

                <div class="flex pb-[24px]">
                    <div class="w-1/2 mr-[36px] relative">
                        <label class="block text-[13px] text-[#384853] pb-[10px] font-normal">Weight</label>
                        <div class="relative">
                        <input type="text" id="WeightInput" @ref="WeightInput" class="w-full h-[32px] text-[14px] px-4 py-2 pr-10 border rounded-[4px] focus:outline-none focus:border-[#D6DCDE]" />
                            <span class="absolute inset-y-0 flex items-center text-[12px] text-[#959595] font-medium right-3">KG</span>
                        </div>
                    </div>
                    <div class="relative w-1/2">
                        <label class="block text-[13px] text-[#384853] pb-[10px] font-normal">Height</label>
                        <div class="relative">
                        <input type="text" id="HeightInput" @ref="HeightInput" class="w-full h-[32px] text-[14px] px-4 py-2 pr-10 border rounded-[4px] focus:outline-none focus:border-[#D6DCDE]" />
                            <span class="absolute inset-y-0 flex items-center text-[12px] text-[#959595] font-medium right-3">CM</span>
                        </div>
                    </div>
                </div>

                <div class="pb-[32px]">
                    <label class="block text-[13px] text-[#384853] pb-[10px] font-normal">Intern note</label>
                    <textarea id="InternNoteInput" @ref="InternNoteInput" placeholder="Note..."class="w-full h-[80px] text-[14px] px-4 py-2 border rounded-[4px] resize-none focus:outline-none focus:border-[#D6DCDE]"></textarea>
                </div>


                <div class="flex justify-end">
                <button type="submit" class="w-[80px] h-[32px] p-[10px] mr-[24px] text-[#E2E5E6] text-sm font-medium bg-[#32947C] rounded-[4px] hover:bg-[#216D5B]" >OK</button>
                    <button type="button" class="w-[80px] h-[32px] text-sm font-medium p-[10px] bg-[#FAFAFA] border-[1px] border-[#32947C] border-solid rounded-[4px] text-[#32947C] hover:bg-[#E6EEEC]" @onclick="HandleClose">Annuller</button>
                </div>

            </form>

        </div>
</div>


