@page "/opretvaccination"

<div class="flex justify-center">
    <div class="w-[466px] h-fit rounded-[16px] shadow-lg p-[24px] bg-[#FAFAFA]">

        <div class="flex justify-between pb-[16px]">
            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="19.5" cy="19.5" r="19.5" fill="#F4F4F4" />
                <circle cx="19.4989" cy="19.4987" r="15.1667" fill="#5B5B5B" fill-opacity="0.1" />
                <path d="M22 14C22.2652 14 22.5196 13.8946 22.7071 13.7071C22.8946 13.5196 23 13.2652 23 13V12C23 11.7348 22.8946 11.4804 22.7071 11.2929C22.5196 11.1054 22.2652 11 22 11H18C17.7348 11 17.4804 11.1054 17.2929 11.2929C17.1054 11.4804 17 11.7348 17 12V13C17 13.2652 17.1054 13.5196 17.2929 13.7071C17.4804 13.8946 17.7348 14 18 14M22 14H18M22 14V14.98C22.0001 15.4048 22.1509 15.8158 22.4256 16.1399C22.7003 16.464 23.081 16.6802 23.5 16.75C24.366 16.894 25 17.643 25 18.52V27C25 27.5304 24.7893 28.0391 24.4142 28.4142C24.0391 28.7893 23.5304 29 23 29H17C16.4696 29 15.9609 28.7893 15.5858 28.4142C15.2107 28.0391 15 27.5304 15 27V18.52C15 17.643 15.634 16.894 16.5 16.75C17.366 16.606 18 15.857 18 14.98V14M15 20H25M15 26H25M19 23H21" stroke="#5F6368" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <button class="flex items-center justify-center mt-[10px] w-7 h-7">
                <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="14.5" cy="14.5" r="14.5" fill="#E3E3E3" />
                    <path d="M19.8177 9.86035L10.6099 18.956M10.6099 9.86035L19.8177 18.956" stroke="#505050" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>

        <div>
            <h2 class="text-[#384853] text-[20px] pb-[24px]">Opret Vaccination</h2>
        </div>


        <form>
            <div class="flex pb-[24px]">
                <div class="w-1/2 mr-[36px]">
                    <label class="block text-[13px] text-[#384853] pb-[10px]">Dato</label>
                    <div class="relative">
                        <input type="date" class="w-full h-[32px] text-[14px] px-4 py-2 border rounded-[4px] focus:outline-none focus:border-[#D6DCDE]" />
                    </div>
                </div>
                <div class="w-1/2 ">
                    <label class="block text-[13px] text-[#384853] pb-[10px]">Vaccine</label>
                    <div class="relative">
                        <select class="w-full h-[32px] text-[14px] px-4 py-2 border rounded-[4px] focus:outline-none focus:border-[#D6DCDE]">
                            <option value="type1">Sog</option>
                            <option value="type2">Type2</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="flex pb-[24px]">
                <div class="w-1/2 mr-[36px] relative">
                    <label class="block text-[13px] text-[#384853] pb-[10px]">Varighed</label>
                    <div class="relative">
                        <input type="text" class="w-full h-[32px] text-[14px] px-4 py-2 pr-10 border rounded-[4px] focus:outline-none focus:border-[#D6DCDE]" />
                    </div>
                </div>
                <div class="relative w-1/2">
                    <label class="block text-[13px] text-[#384853] pb-[10px]">Dosering</label>
                    <div class="relative">
                        <select class="w-full h-[32px] text-[14px] px-4 py-2 border rounded-[4px] focus:outline-none focus:border-[#D6DCDE]">
                            <option value="type1">1 ar</option>
                            <option value="type2">2 ar</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="pb-[32px]">
                <label class="block text-[13px] text-[#384853] pb-[10px]">Intern note</label>
                <textarea placeholder="Note..." class="w-full h-[80px] text-[14px] px-4 py-2 border rounded-[4px] resize-none focus:outline-none focus:border-[#D6DCDE]"></textarea>
            </div>


            <div class="flex justify-end">
                <button type="submit" class="w-[80px] h-[32px] p-[10px] mr-[24px] text-[#E2E5E6] text-sm bg-[#32947C] rounded-[4px] hover:bg-[#216D5B]">OK</button>
                <button type="button" class="w-[80px] h-[32px] text-sm p-[10px] bg-[#FAFAFA] border-[1px] border-[#32947C] border-solid rounded-[4px] text-[#32947C] hover:bg-[#32947C]">Annuller</button>
            </div>

        </form>

    </div>
</div>
